body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-cover{
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.header {
    font-size: 48px;
    letter-spacing: 0.5ch;
    margin: 1rem;
}
.main {
    margin: 1rem;
}
.game-type-selector label:last-child {
    color: lightgray;
}
.game-type-selector button{
    font-size: 20px;
    background-color: rgb(202, 195, 195);
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(92, 91, 91);
    width: 12em;
    height: 3rem;
    margin: 2rem;
}
.game-board {
    height: 490px;
    width: 490px;
    border-radius: 20px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 1rem;
}

.game-board > div {
    background-color:rgb(165, 247, 247);
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.game-board > div:not(.x-selected):not(.o-selected):hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px rgb(250, 159, 74);
}
.game-board > div.x-selected {
    margin: 0 auto;
    animation: spin-ex 0.4s cubic-bezier(.35, .65, .75, .45);
    animation-fill-mode: forwards;
}
.game-board > div.o-selected {
    margin: 0 auto;
    animation: spin-oh 0.4s cubic-bezier(.35, .65, .70, .45);
    animation-fill-mode: forwards;
}
@keyframes spin-ex {
    0% {width: 150px; background-image: none;}
    50% {width: 5px; background-image: none;}
    100% {background-image: url(images/ex.svg);}
}
@keyframes spin-oh {
    0% {width: 150px; background-image: none;}
    50% {width: 5px; background-image: none;}
    100% {width: 150px; background-image: url(images/oh.svg);}
}